<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BilgisayariOtomatikKapatmaProgrami.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BilgisayariOtomatikKapatmaProgrami.Properties.Settings>
            <setting name="SelectedAlarm" serializeAs="String">
                <value>wav\Alarm1.wav</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>TR</value>
            </setting>
        </BilgisayariOtomatikKapatmaProgrami.Properties.Settings>
    </userSettings>
</configuration>